.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.nilanjan-chowdhury {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 121px;
  top: 67px;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 953px;
  top: 73px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1073px;
  top: 73px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 1175px;
  top: 73px;
}
.let-s-create-a-website-design {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 72px;
  font-weight: 700;
  position: absolute;
  left: 96px;
  top: 285px;
}
.analytics-professional-with-3-years-of-experience-in-data-engineering-and-business-intelligence-built-dashboards-in-tableau-and-power-bi-automated-salesforce-surveys-and-designed-ai-solutions-for-global-health-and-nonprofit-impact {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 14px);
}
.rectangle-1 {
  background: #a8ff35;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 622px;
  top: 703px;
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 717px;
}
.nilanjan-chowdhury-university-of-maryland-fall-2025 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 496px;
  top: 914px;
}
